<template>
	<div class="bg-transparent absolute top-0 left-4 w-full flex justify-center items-center h-screen">
		<div class="bg-white p-4 rounded w-1/3">
			<h2 class="mb-2">
				Delete
			</h2>
			<p>Do you wan't to Delete this posts?</p>
			<button>Delete </button>
			<button>Close</button>
		</div>
	</div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'ArticleModal',
	data(){
		return{

		};
	},


});
</script>
<style scoped>
   .modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.modal {
  text-align: center;
  background-color: black;
  height: 500px;
  width: 500px;
  margin-top: 30%;
  padding: 1000px 0;
  border-radius: 20px;
}
.close {
  margin: 10% 0 0 16px;
  cursor: pointer;
}







button {
  background-color: #ac003e;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 14px;
  border-radius: 16px;
  margin-top: 50px;
}
</style>


 <!-- <div class="modal-overlay">
    <div class="modal">
      <h6>Saved!</h6>
      <p>Your Details have been saved Successfully</p>
      <button>Go Home</button>
    </div>
    <div class="close">
        <button>Close</button>
    </div>
  </div>-->
