<template>
	<div
		id="main-body"
		class="leading-normal tracking-normal"
	>
		<div class="flex flex-wrap">
			<!-- <Sidebar /> -->
			<dashboard-sidebar />
			<div
				id="main-content"
				class="w-full bg-gray-100 min-h-screen"
			>
				<!-- <Navbar /> -->
				<dashboard-header />
				<div class="lg:mr-4 lg:ml-56 sm:pl-1 md:pl-2 bg-gray-100 mb-20">
					<router-view />
				</div>

				<!-- footer -->
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { DashboardSidebar, DashboardHeader } from './components';
export default defineComponent({
	name: 'DashboardLayout',
	components: {
		DashboardSidebar,
		DashboardHeader,
	},
});
</script>
<style lang="">

</style>
