<template lang="">
	<div class="bg-white grow">
		<Alert
			v-if="isAlertVisible"
			:type="alertType"
			:message="alertMessage"
			:dismissible="false"
			@dismiss="dismissAlert"
		/>
		<div class="mb-4 pt-10 pl-4 ">
			<h1 class=" text-3xl  decoration-gray-400">
				Edit Articles
			</h1>
		</div>
		<div class="flex flex-row">
			<div class="w-full basis-4/5 px-6 py-4 bg-white rounded shadow-md ring-1 ring-gray-900/10">
				<!-- Title -->
				<div>
					<label
						class="block text-sm text-gray-700"
						for="title"
					>
						Title
					</label>
					<input
						v-model="postArticle.title"
						class="w-full rounded border-gray-600"
						type="text"
						placeholder="Title"
						@input="dismissErrorTitle"
					>
					<label
						v-if="isTitleError"
						class="block text-sm text-red-500"
						for="title"
					>
						Required Field
					</label>
				</div>
				<!-- Description -->
				<div>
					<label
						class="block text-sm  text-gray-700"
						for="title"
					>
						Description
					</label>
					<input
						v-model="postArticle.description"
						class="w-full "
						type="text"
						placeholder="Description"
					>
				</div>

				<!-- Body -->
				<div class="mt-4">
					<label
						class="block text-sm  "
						:class="isBodyError ? 'text-gray-700':'text-gray-700'"
					>
						Body
					</label>
					<textarea
						v-model="postArticle.body"
						name="description"
						class="block w-full mt-1 rounded-md shadow-sm placeholder:text-gray-400 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
						:class="isBodyError ? 'border-red-600':'border-gray-300'"
						rows="12"
						placeholder="Body"
						@input="dismissErrorBody"
					/>
				</div>
				<label
					v-if="isBodyError"
					class="block text-sm  text-red-500"
					for="title"
				>
					Required Field
				</label>

				<div class="flex items-center justify-start mt-4 gap-x-2">
					<button
						type="submit"
						class="px-6 py-2 text-sm font-semibold rounded-md shadow-md text-sky-100 bg-sky-500 hover:bg-sky-700 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300"
						@click="submit"
					>
						Submit
					</button>
				</div>
			</div>
			<div class="w-full bg-white basis-1/4 pt-12 ">
				<input
					v-model="tag"
					placeholder="New tag"
					@keyup.enter="addTag"
				>
				<div class="rounded-sm border w-44 mt-3 h-96 overflow-scroll">
					<div
						v-for="(tag,index) in tags"
						:key="index"
						class="py-1 px-2"
					>
						<input
							id="checkbox-${{index}}"
							v-model="tag.isChecked"
							type="checkbox"
						>
						<label
							class="pl-2"
							for="checkbox-${{index}}"
						>{{ tag.name }}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { editArticle } from '@/lib/services/dashboard';
import type { tag } from '@/lib/types/post/index';
import type { Article } from '@/lib/types/post';
import Alert from '@/components/alert.vue';
export default defineComponent ({
	name: 'EditArticles',
	components: { Alert },

	data(){
		return{
			postArticle: {} as Article,
			tag: '',
			isTitleError: false,
			isBodyError: false,
			tags: [
			] as tag[],
			isAlertVisible: false,
			alertType: 'info',
			alertMessage: 'This is a sample alert.',
		};
	},
	created(){

		this.postArticle = JSON.parse(this.$route.query.item) as Article;
		this.init();
	},
	methods: {
		init(){
			this.tags = this.postArticle.tagList.map((item)=>(
				{ name: item,
					isChecked: true }
			));
		},
		async submit(){

			if(this.postArticle.body === '' ){
				this.isBodyError = true;
			}
			if(this.postArticle.title === '' ){
				this.isTitleError = true;
			}
			const payload:Article = {
				...this.postArticle,
			};
			const ress = await editArticle(payload, this.postArticle.slug);
			if(ress.status == 'error'){
				this.alertMessage = 'Something Wrong !';
				this.alertType = 'error';
				this.showAlert();
				return;
			}
			this.alertMessage = 'New Post Added !';
			this.alertType = 'success';
			this.showAlert();

		},
		addTag(){
			this.tags = [...this.tags, { name: this.tag,
				isChecked: true }];
			this.tag = '';
		},
		dismissErrorTitle(){
			if (this.isTitleError) {
				this.isTitleError = false;
			}

		},
		dismissErrorBody(){

			if (this.isBodyError) {
				this.isBodyError = false;
			}

		},
		showAlert() {
			this.isAlertVisible = true;
			setTimeout(this.dismissAlert, 3000);
		},
		dismissAlert() {
			this.isAlertVisible = false;
		},
	},
});
</script>
<style lang="">

</style>
