<template lang="">
	<div class="bg-white grow">
		<Alert
			v-if="isAlertVisible"
			:type="alertType"
			:message="alertMessage"
			:dismissible="false"
			@dismiss="dismissAlert"
		/>
		<div class="mb-4 pt-10 pl-4 ">
			<h1 class=" text-3xl  decoration-gray-400">
				New Articles
			</h1>
		</div>
		<div class="flex flex-row">
			<div class="w-full basis-4/5 px-6 py-4 bg-white rounded shadow-md ring-1 ring-gray-900/10">
				<!-- Title -->
				<div>
					<label
						class="block text-sm"
						:class="isTitleError ? 'text-red-500': 'text-gray-700'"
						for="title"
					>
						Title
					</label>
					<input
						v-model="post.title"
						class="w-full rounded h-6"
						:class="isTitleError ? 'border-red-600' : 'border-gray-600'"
						type="text"
						placeholder="Title"
						@input="dismissErrorTitle"
					>
					<label
						v-if="isTitleError"
						class="block text-sm text-red-500"
						for="title"
					>
						Required Field
					</label>
				</div>
				<!-- Description -->
				<div>
					<label
						class="block text-sm  text-gray-700"
						for="title"
					>
						Description
					</label>
					<input
						v-model="post.description"
						class="w-full h-6"
						type="text"
						placeholder="Description"
					>
				</div>

				<!-- Body -->
				<div class="mt-4">
					<label
						class="block text-sm  "
						:class="isBodyError ? 'text-gray-700':'text-gray-700'"
					>
						Body
					</label>
					<textarea
						v-model="post.body"
						name="description"
						class="block w-full mt-1 rounded-md shadow-sm placeholder:text-gray-400 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
						:class="isBodyError ? 'border-red-600':'border-gray-300'"
						rows="12"
						placeholder="Body"
						@input="dismissErrorBody"
					/>
				</div>
				<label
					v-if="isBodyError"
					class="block text-sm  text-red-500"
					for="title"
				>
					Required Field
				</label>
				<!-- button -->
				<div class="flex items-center justify-start mt-4 gap-x-2">
					<button
						type="submit"
						class="px-6 py-2 w-32 text-sm font-semibold rounded-md shadow-md text-sky-100 bg-sky-500 hover:bg-sky-700 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300"
						@click="submit"
						:disabled="isLoading"
					>
						<loading :isLoading="isLoading"/>
						<span v-if="!isLoading">Submit</span>
					</button>
				</div>
			</div>
			<!-- tags section -->
			<div class="w-full bg-white basis-1/4 pt-10 ">
				<input
				 	class="rounded h-6 w-1/2"
					v-model="tag"
					placeholder="New tag"
					@keyup.enter="addTag"
				>
				<div class="rounded-sm border  mt-3 h-64 w-1/2 overflow-scroll">
					<loading :isLoading="isLoadingTags" colorSpinner="fill-blue-500"/>
					<div
						v-for="(tag,index) in tags"
						:key="index"
						class="py-1 px-2"
					>
						<input
							id="checkbox-${{index}}"
							v-model="tag.isChecked"
							type="checkbox"
						>
						<label
							class="pl-2"
							for="checkbox-${{index}}"
						>{{ tag.name }}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { getTags, newArticle } from '@/lib/services/dashboard';
import type { post, tag } from '@/lib/types/post/index';
import type { Article } from '@/lib/types/newArticle/index';
import Alert from '@/components/alert.vue';
import Loading from '@/components/loading.vue'
export default defineComponent ({
	name: 'NewArticles',
	components: { Alert, Loading },
	data(){
		return{
			post: {
				title: '',
				description: '',
				body: '',
			} as post,
			tag: '',
			isTitleError: false,
			isBodyError: false,
			tags: [
			] as tag[],
			isAlertVisible: false,
			alertType: '',
			alertMessage: '',
			isLoading:false,
			isLoadingTags:false,
		};
	},
	created(){
		this.init();
	},
	methods: {
		init(){
			this.getAllTags();
		},
		async getAllTags(){
			this.isLoadingTags = true;
			const ress = await getTags();
			if(ress.status == 'error'){
				this.isLoadingTags = false;
				return;
			}
			this.tags = ress.tags.map((item:tag) => {
				return { name: item,
					isChecked: false };
			});
			this.isLoadingTags = false;

		},
		async submit(){
			this.isLoading = true;

			if(this.post.body === '' ){
				this.isBodyError = true;
			}
			if(this.post.title === '' ){
				this.isTitleError = true;
			}
			const payload:Article = {
				...this.post,
				tagList: this.tags.map((item)=> {
					if(item.isChecked === true){
						return item.name;
					}
				}).filter(notUndefined => notUndefined !== undefined),
			};
			const ress = await newArticle(payload);
			if(ress.status == 'error'){
				this.alertMessage = `OOPS : ${ress.error.message}`;
				this.alertType = 'error';
				this.showAlert();
				this.isLoading = false;
				return;
			}
			this.alertMessage = 'New Post Added !';
			this.alertType = 'success';
			this.showAlert();
			this.isLoading = false;

		},
		addTag(){
			this.tags = [...this.tags, { name: this.tag,
				isChecked: true }];
			this.tag = '';
		},
		dismissErrorTitle(){
			if (this.isTitleError) {
				this.isTitleError = false;
			}

		},
		dismissErrorBody(){

			if (this.isBodyError) {
				this.isBodyError = false;
			}

		},
		showAlert() {
			this.isAlertVisible = true;
			setTimeout(this.dismissAlert, 3000);
		},
		dismissAlert() {
			this.isAlertVisible = false;
		},
	},
});
</script>
<style lang="">

</style>
