<template>
	<body class="bg-gradient-primary">
		<div class="container">
			<!-- Outer Row -->
			<div class="row justify-content-center">
				<div class="col-xl-4">
					<div class="card o-hidden border-0 shadow-lg my-5">
						<div class="card-body bg-light p-0">
							<div class="p-5">
								<router-view />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({

});
</script>
<style lang="">

</style>
