<template>
	<div class="sticky top-0 z-40">
		<div class="w-full sm:w-full lg:w-full md:w-full h-20   bg-black border-b flex items-center justify-between">
			<!-- left navbar -->
			<div class="flex">
				<!-- mobile hamburger -->
				<div class="inline-block lg:hidden flex items-center mr-4">
					<button
						class="hover:text-blue-500 hover:border-white focus:outline-none navbar-burger"
						@click="toggleSidebar()"
					>
						<svg
							class="h-5 w-5"
							:style="{ fill: 'black' }"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
						><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg>
					</button>
				</div>
				<span class="">
					<span class="text-white text-2xl pl-5 ">Arvan Challenge</span>
					<span class="text-white text-base pl-2">{{ username }}</span>
				</span>
			</div>
			<button
				class="rounded border-blue-400 text-blue-400 w-20 h-10 bg-transparent mr-4"
				@click="logout"
			>
				Logout
			</button>
		</div>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { getFromStorage, clearStorage } from '@/lib/services/storage';

export default defineComponent({
	name: 'CustomNavbar',
	data() {
		return {
			dropDownOpen: false,
			username: '',
		};
	},
	computed: {
		collapsed(): boolean {
			return this.$store.state.dashboard.sidebarCollapse;
		},
	},
	created(){
		this.init();
	},

	methods: {
		async init(){
			this.username = await getFromStorage('username');
		},
		toggleSidebar() {
			return this.$store.commit('dashboard/toggleSidebarCollapse', !this.collapsed);

		},
		logout(){
			clearStorage();
			this.$router.replace({ name: 'auth-login' });
		},
	},
});
</script>
