<template>
	<!-- give the sidebar z-50 class so its higher than the navbar if you want to see the logo -->
	<!-- you will need to add a little "X" button next to the logo in order to close it though -->
	<div
		id="main-nav"
		class="w-1/2 lg:w-52 fixed md:top-0 md:left-0 h-screen lg:block bg-blue-600 border-r z-30"
		:class="collapsed ? '' : 'hidden md:hidden sm:hidden'"
	>
		<div class="w-full h-20 border-b flex px-4 items-center mb-8">
			<p class="font-semibold text-3xl text-red-400 pl-4">
				oooooooooo
			</p>
		</div>

		<div class="mb-4 px-4">
			<p class="pl-4 text-xl text-white font-semibold mb-1">
				Post
			</p>

			<div class="w-11/12 flex items-center text-blue-400 h-10 pl-4 mr-2
					 rounded-lg cursor-pointer"
					:class="$route.name === 'dashboard-post-articles-list' ? 'bg-blue-300':'' ">
				<router-link class="no-underline text-white" to="/articles/list">All Articles</router-link>
				<!-- <span class="text-white lg:text-black">All Articles</span> -->
			</div>
			<div class="w-11/12 flex items-center text-blue-400 h-10 pl-4 mr-2
				  rounded-lg cursor-pointer"
				 :class="$route.name === 'dashboard-new-articles' ? 'bg-blue-300':'' ">
				<router-link class="no-underline text-white" to="/articles/create">New Article</router-link>
				<!-- <span class="text-white">New Article</span> -->
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import type { SidebarCategory }  from  '@/lib/types/dashboard/index';
export default defineComponent({
	name: 'DashboardSidebar',
	data() {
		return {
			sidebarItems: [
				{
					category: 'Posts',
					items: [
						{
							title: 'All Articles',
							link: '/stats',
						},
						{
							title: 'New Articles',
							link: '/stats',
						},
					],
				},

			] as SidebarCategory[],
		};
	},
	computed: {
		collapsed(): boolean {
			return this.$store.state.dashboard.sidebarCollapse;
		},
	},
	
});
</script>

<style  scoped>


</style>
