<template>
	<div class="fixed top-20  right-10 z-50 flex items-center justify-center">
		<div
			class="alert"
			:class="[typeClasses]"
		>
			<p class="alert-message">
				{{ message }}
			</p>
			<button
				v-if="dismissible"
				class="alert-dismiss"
				@click="dismiss"
			>
			</button>
		</div>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent ({
	name: 'CustomAlert',
	props: {
		type: {
			type: String,
			default: 'info',
			validator: (value:string) => ['info', 'success', 'warning', 'error'].includes(value),
		},
		message: {
			type: String,
			required: true,
		},
		dismissible: {
			type: Boolean,
			default: true,
		},
	},
	computed: {
		typeClasses() {
			return {
				'bg-blue-100 text-blue-800': this.type === 'info',
				'bg-green-100 text-green-800': this.type === 'success',
				'bg-yellow-100 text-yellow-800': this.type === 'warning',
				'bg-red-100 text-red-800': this.type === 'error',
			};
		},
	},
	mounted() {
		if (this.dismissible) {
			setTimeout(this.dismiss, 3000);
		}
	},
	methods: {
		dismiss() {
			this.$emit('dismiss');
		},
	},
});
</script>

<style scoped>
.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.25rem;
}

.alert-message {
  margin-right: 1rem;
}

.alert-dismiss {
  cursor: pointer;
}
</style>
