@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* @tailwind base;
@tailwind components; */
@tailwind utilities;


body {
    margin: 0;
    direction: ltr;
    font-family: 'Roboto';
}