<template>
	<Alert
		v-if="isAlertVisible"
		:type="alertType"
		:message="alertMessage"
		:dismissible="false"
		@dismiss="dismissAlert"
	/>
	<section class="bg-gray-50 ">
		<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
			<div class="w-full bg-gray-200 rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0 ">
				<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
					<h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
						LOGIN
					</h1>
					<form @submit.prevent="login" class="space-y-4 md:space-y-6" action="#">
						<div>
							<label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
							<input v-model="user.email" type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5      " placeholder="name@company.com" required="">
						</div>
						<div>
							<label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
							<input v-model="user.password" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " required="">
						</div>
						<div class="flex items-center justify-between">
						</div>
						<button :disabled="isLoading" type="submit" :class="isLoading ? 'bg-gray-300' : ''" class="w-full text-white bg-blue-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  ">Sign in</button>
						<p class="text-sm font-light text-gray-500 ">
							Don’t have an account yet? <router-link :to="{name:'auth-register'}">
								Register Now
							</router-link>
						</p>
					</form>
				</div>
			</div>
		</div>
	</section>
	
</template>

<script lang="ts">
interface myObject {
	[key: string]:string[],

}
import { defineComponent } from 'vue';
import { postLogin } from  '@/lib/services/auth';
import type { userLogin, user } from '@/lib/types/auth';
import { setInStorage } from '@/lib/services/storage';
import Alert from '@/components/alert.vue';
export default defineComponent ({
	name: 'LoginView',
	components: { Alert },
	data(){
		return{
			user: { email: '',
				password: '' } as userLogin,
			isAlertVisible: false,
			alertType: '',
			alertMessage: '',
			isLoading:false,
		};
	},
	methods: {
		async login() {
			this.isLoading = true;
			const ress = await postLogin(this.user.email, this.user.password);
			if(ress.error != null){
				this.alertType ='error';
				this.alertMessage = `Login Failed ${ress.error.message}`;
				this.showAlert();
				this.isLoading = false;
				return;
			}
			const userData:user = ress.user;
			await setInStorage('token', userData.token);
			await setInStorage('username', userData.username);
			this.$router.push({ name: 'dashboard-post-articles-list' });
			this.isLoading = false;
		},
		showAlert() {
			this.isAlertVisible = true;
			setTimeout(this.dismissAlert, 3000);
		},
		dismissAlert() {
			this.isAlertVisible = false;
		},
	},


});
</script>

<style>

</style>


