<template>
	<Alert
		v-if="isAlertVisible"
		:type="alertType"
		:message="alertMessage"
		:dismissible="false"
		@dismiss="dismissAlert"
	/>
	<section class="bg-gray-50 ">
		<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
			<div class="w-full bg-gray-200 rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0 ">
				<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
					<h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
						REGISTER
					</h1>
					<form @submit.prevent="registerBtn" class="space-y-4 md:space-y-6" action="#">
						<div>
							<label for="user" class="block mb-2 text-sm font-medium text-gray-900">Your Username</label>
							<input v-model="modelRegister.user" type="user" name="user" id="user" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5      " placeholder="name@company.com" required="">
						</div>
						<div>
							<label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
							<input v-model="modelRegister.email" type="email" name="email" id="email" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " required="">
						</div>
						<div>
							<label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
							<input v-model="modelRegister.password" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " required="">
						</div>
						<div class="flex items-center justify-between">
						</div>
						<button type="submit" class="w-full text-white bg-blue-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  ">Register</button>
						<p class="text-sm font-light text-gray-500 ">
							Already Registered? <router-link :to="{name:'auth-login'}">
								Login
							</router-link>
						</p>
					</form>
				</div>
			</div>
		</div>
	</section>
</template>

  <script lang="ts">

import { defineComponent } from 'vue';
import { postRegister } from '@/lib/services/auth';
import type { user } from '@/lib/types/auth';
import { setInStorage } from '@/lib/services/storage';
import Alert from '@/components/alert.vue';
export default defineComponent ({
	name: 'RegisterView',
	components: { Alert },
	data(){
		return{
			modelRegister: {
				user: '',
				email: '',
				password: '',
			},
			isAlertVisible: false,
			alertType: '',
			alertMessage: '',
		};
	},
	methods: {
		async registerBtn(){
			const ress =  await postRegister(this.modelRegister.email,
				this.modelRegister.password, this.modelRegister.user);
			if(ress.error != null){
				this.alertType ='warning';
				this.alertMessage = ress.error.message;
				this.showAlert();
				return;
			}
			const userData:user = ress.user;

			await setInStorage('token', userData.token);
			await setInStorage('username', userData.username);
			this.$router.push({ name: 'dashboard-post-articles-list' });

		},
		showAlert() {
			this.isAlertVisible = true;
			setTimeout(this.dismissAlert, 3000);
		},
		dismissAlert() {
			this.isAlertVisible = false;
		},
	},

});
  </script>

  <style>

  </style>
