<template>
	<Alert
		v-if="isAlertVisible"
		:type="alertType"
		:message="alertMessage"
		:dismissible="false"
		@dismiss="dismissAlert"
	/>
	<div v-if="isShowModal">
		<div class="bg-transparent absolute top-0 left-4 w-full flex justify-center items-center h-screen">
			<div class="bg-white p-4 rounded w-1/3">
				<h2 class="mb-2">
					Delete
				</h2>
				<p>Do you wan't to Delete this posts?</p>

				<button
					class=" rounded bg-red-600 text-white w-36 h-7 my-1"
					@click="deleteArticle"
				>
					Delete
				</button>
				<button
					class=" rounded bg-gray-600 text-white w-36 h-7"
					@click="isShowModal = !isShowModal"
				>
					Close
				</button>
			</div>
		</div>
	</div>
		<h1>All Post</h1>
		<loading :isLoading="isLoading" colorSpinner="fill-blue-600"/>
		<div v-if="isLoading">
				is Loading...
		</div>
		<div v-if="!isLoading" class='block whitespace-nowrap overflow-auto max-w-full'>
		<table class="table-auto  w-full text-sm text-left text-gray-500">
			<thead class="text-xs text-gray-700 uppercase bg-gray-50">
				<tr>
					<th scope="col" class="px-6 py-3">
						#
					</th>
					<th scope="col" class="px-6 py-3">
						Title
					</th>
					<th scope="col" class="px-6 py-3">
						Author
					</th>
					<th scope="col" class="px-6 py-3">
						Tags
					</th>
					<th scope="col" class="px-6 py-3">
						Excerpt
					</th>
					<th scope="col" class="px-6 py-3">
						Created
					</th>
				</tr>
			</thead>
			<tbody class="overflow-scroll" >
				<tr
					class="bg-white border-b "
					v-for="(item,index) in items"
					:key="index"
				>
					<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
						{{ index+1 }}
					</th>
					<td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ item.title.slice(0, 30) + '..' }}</td>
					<td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ item.author.username }}</td>
					<td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
						<span
							v-for="(tag,index) in item.tagList"
							:key="index"
						>{{ tag }} ,</span>
					</td>
					<td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ item.body.slice(0, 20) + '..' }}</td>
					<td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
						<div class="flex justify-around">
							{{ convertDate(item.createdAt) }}
							<!-- <div class="dropdown"> -->
								<!-- <button
									class="btn btn-primary dropdown-toggle"
									type="button"
									data-toggle="dropdown"
									aria-expanded="false"
								>
									...
								</button> -->
								<div class="dropdown-menu">
									<button
										class="dropdown-item"
										@click="openModal(item.slug)"
									>
										Delete
									</button>
									<button
										class="dropdown-item"
										@click="onEdit(item)"
									>
										Edit
									</button>
								</div>
							<!-- </div> -->
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div  class="flex justify-center mt-5">
				<nav >
					<div class="inline-flex -space-x-px text-sm ">
						<div>
							<a href="#" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700     ">Previous</a>
						</div>
						<div v-for="(page,index) in meta.total"
							:key="index">
							<a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">{{ page }}</a>
						</div>
						<div>
							<a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">Next</a>
						</div>
					</div>
				</nav>
			</div>
	</div>
	
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import type { Article, ArticleItems } from '@/lib/types/post/index';
import { getArticles, deleteArticles } from '@/lib/services/dashboard';
import Alert from '@/components/alert.vue';
import Loading from '@/components/loading.vue'
export default defineComponent({
	name: 'ArticlesList',
	components: { Alert, Loading},
	data(){
		return{
			isLoading: false,
			meta: {
				total: 10,
				current: 1,
			},
			items: [] as Article[],
			isShowModal: false,
			selectedItem: '',
			isAlertVisible: false,
			alertType: '',
			alertMessage: '',
		};

	},
	created() {
		this.init();
	},
	methods: {
		init(){
			this.getAllArticles();
		},
		async getAllArticles(){
			this.isLoading = true;
			const ress:ArticleItems = await getArticles();
			if(ress.error != null){
				return;
			}
			this.items = ress.articles;

			const result = ress.articlesCount / 12;
			this.meta.total = Number.isInteger(result)
				? result
				: Math.floor(result) + 1;
			this.isLoading = false;
		},
		convertDate(date:string){
			const dateString = new Date(date).toDateString();//toString()
			return dateString.slice(dateString.indexOf(' ') + 1);
		},
		openModal(slug:string){
			this.isShowModal = !this.isShowModal;
			this.selectedItem = slug;
		},
		async deleteArticle(){
			const ress = await deleteArticles(this.selectedItem);
			if(ress.error != null || ress.status === 'error'){
				this.isShowModal = false;
				this.alertType ='warning';
				this.alertMessage = ress.error.message;
				this.showAlert();
				return;
			}
			this.alertType ='success';
			this.alertMessage = 'article deleted!';
			this.showAlert();


		},
		onEdit(item:Article){
			this.$router.push({ name: 'dashboard-edit-articles',
				query: { item: JSON.stringify(item) },
				params: { slug: item.slug  } });
		},
		showAlert() {
			this.isAlertVisible = true;
			setTimeout(this.dismissAlert, 3000);
		},
		dismissAlert() {
			this.isAlertVisible = false;
		},
	},

});
</script>
<style>

</style>
